{% extends "base.html" %}
{% block content %}
    <div class="container">
    <h1>Account Registration</h1>
    </div>
    
    <br>
    
    {% if get_flashed_messages()|length > 0 %}

    <div class="alert alert-warning alert-dismissible fade show" role="alert">

    {% for message in get_flashed_messages() %}
        <strong>{{message}}</strong>
    {% endfor %}

    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endif %}
    
    
    <div class="container">
    <div id="outer" style="display: flex; justify-content: center;">
    <div id="inner" style="width: 60%;">
    <div class="form-group p-3 mb-2 bg-body-secondary rounded">

        <form class='form-group' method='POST'>
            {{form.hidden_tag()}}
            <div class='form-group'>
            {{form.email.label(class="form-control-label")}}
            {{form.email(class="form-control text-bg-light p-3")}}
            </div>
            <br>
            <div class='form-group'>
            {{form.username.label(class="form-control-label")}}
            {{form.username(class="form-control text-bg-light p-3")}}
            </div>
            <br>
            <div class='form-group'>
            {{form.password.label(class="form-control-label")}}
            {{form.password(class="form-control text-bg-light p-3")}}
            </div>
            <br>
            <div class='form-group'>
            {{form.pass_confirm.label(class="form-control-label")}}
            {{form.pass_confirm(class="form-control text-bg-light p-3")}}
            <br>
            </div>
            <div class='form-group d-grid gap-2 col-6 mx-auto'>
            {{form.submit(class="btn btn-primary")}}
            </div>
        </form>
    </div>
    </div>
    </div>
{% endblock %}